services:
  postgres:
    image: postgres:18-alpine
    container_name: shitreader-db
    ports:
      - '5432:5432'
    environment:
      POSTGRES_PASSWORD: shitreader
      POSTGRES_USER: shitreader
      POSTGRES_DB: shitreader
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pgdata:

